[Unit]
Description=20250314吉来电_go
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/admin/codes/20250314jilaidian_go/jilaidian

[Install]
WantedBy=multi-user.target
