[Unit]
Description=20250604逸安启_GO
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/admin/codes/20250314yianqi_go/yianqi_go

[Install]
WantedBy=multi-user.target
